<h1>検索結果</h1>

<% @results.each do |room| %>
      <tr>
        <td><%= image_tag room.room_image.url %></td>
        <td><%= room.room_name %></td>
        <td><%= room.adress %></td>
        <td><%= room.price %></td>
      </tr>
<% end %>