/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header {
    width:100%;
    height: 70px;
    padding: 4px 30px;
    background-color: #000000;
    box-sizing: border-box;
}

.header-left-nav {
    float:left;
}

.header-right-nav {
    float:right;
}

.nav-item {
    display:inline-block;
    color: #fff;
    font-size: 14px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
}

.first-btn {
    background-color: #4a90e2;
    color: #fff;
}

.second-btn {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.login-header-right-nav {
    float:right;
}

.login-icon {
    float:right;
    width:5%;
    height:30%;
    border-radius:50%;
    position:relative;
    bottom:125px;
}

.login_user_icon {
    float:right;
    width:100px;
    height:100px;
    border-radius:50%;
    position:relative;
    bottom:50px;
}

.dropdown {
    display:none;
    background-color: #fff;
    border: 3px solid #f6F8f9;
    position: absolute;
    top: 70px;
    right: 10px;
    padding: 15px;
    z-index: 1000;
}

.dropdown li {
    line-height: 30px;
    font-size: 16px;
    padding: 3px 5px;
    list-style: none;
}



footer {
    width: 100%;
    background-color: #000000;
    height: 100px;
    color: #fff;
}

h5 {
    text-align: center;
    margin: 0px;
    padding-top: 40px;

}

p {
    color:#fff;
}
